body {
	background-image: url("../images/background.png");
}
.header-container, .main-container, .city-info-container,
.traffic-level-container, city-name-container {
    display: flex;
}

.city-name-container, .main-container, .traffic-level-container {
    justify-content: center;
    align-items: center;
}

.city-info-container {
    align-items: center;
}

.header-container {
    width: 936px;
    justify-content: space-between;
}

.city-select, .country-select {
    min-width: 173px;
}

.main-container {
    flex-direction: column;
    margin-top: 50px;
}

.city-container {
    background-color: rgba(255,255,255,0.5);
    margin-top: 70px;
    justify-content: space-between;
}

.weather-container {
    background-color: rgba(255,255,255,0.5);
    margin-top: 10px;
}

.weather-container, .city-container {
    display: none;
    padding: 32px;
}

.content-container {
    width: 1000px;
}

.traffic-level-container {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    margin-right: 16px;
    font-size: 20px;
}

.city-name, .temperature-level {
    font-weight: 400;
    font-size: 24px;
}

.weather-info-container {
    flex-grow: 2;
    padding-left: 20px;
}

.current-weather-info-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.traffic-label, .weather-leabel {
    font-weight: 500;
}

.day-part-container {
    display: flex;
    max-width: 400px;
    justify-content: space-between;
}

.day-part-name-container {
    width: 50px;
}