<script id="cityInfoTemplate" type="text/template">
    <div class="city-info-container">
        <div class="traffic-level-container" style="background-color: {{trafficLevel.color}};">
            <span class="traffic-level">{{ trafficLevel.level }}</span>
        </div>
        <div class="city-name-container">
            <span class="city-name">{{ city }}</span>
            <span class="current-date">{{ currentDate }}</span>
        </div>
    </div>

    <div class="traffic-info-container">
        <label class="traffic-label">Пробки: </label>
        <span class="traffic-info">{{ trafficInfo }}</span>
    </div>

</script>