<!DOCTYPE html>

<html>
<head>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
            integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
            integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/mustache.js/2.3.2/mustache.min.js"></script>
    
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="~/css/index.css">
    <title>title</title>

    @Html.Partial("_cityTemplate")
    @Html.Partial("_weatherTemplate")

    <script type="text/javascript">
        //code smell - it's not amd implementation.
        $(document).ready(function () {
            var cities = [
                {
                    "id": "143",
                    "name": "Киев",
                    "countryId": "1"
                },
                {
                    "id": "145",
                    "name": "Одесса",
                    "countryId": "1"
                },
                {
                    "id": "147",
                    "name": "Харьков",
                    "countryId": "1"
                },
                {
                    "id": "213",
                    "name": "Москва",
                    "countryId": "2"
                },
                {
                    "id": "2",
                    "name": "Санкт-Петербург",
                    "countryId": "2"
                },
            ];

            function setCitySelectValues() {
                var selectedCountry = $(".country-select").val();
                var citySelect = $(".city-select");
                citySelect.find('option').remove();
                $('<option>').appendTo(citySelect);
                $.each(cities, function (key, city) {
                    if (city.countryId === selectedCountry) {
                        $('<option>').val(city.id).text(city.name).appendTo(citySelect);
                    }
                });
            }

            setCitySelectValues();

            $(".country-select").change(function () {
                setCitySelectValues();
            });

            function setCityInfo(data) {
                var trafficInfo = data.traffic;
                var weather = data.weather;
                var trafficInfoText = trafficInfo.infoTrafficRegion.hint
                    .find(item => item.lang === data.lang).value;
                var currentDate =
                [
                    weather.day.date.day.weekday, weather.day.date.day.value,
                    weather.day.date.month.name, trafficInfo.infoTrafficRegion.time
                ].join(', ');
                var mustacheTrafficInfo = {
                    "trafficLevel": {
                        "color": trafficInfo.infoTrafficRegion.icon,
                        "level": trafficInfo.infoTrafficRegion.level
                    },
                    "city": trafficInfo.title,
                    "trafficInfo": trafficInfoText,
                    "currentDate": currentDate
                };
                var template = $("#cityInfoTemplate").html();
                var html = Mustache.to_html(template, mustacheTrafficInfo);
                $('.city-container').html(html);
            }

            function setWeatherInfo(data) {
                var weather = data.weather;
                var nextDayParts = weather.day.dayPart.slice(1).map(item => {
                    var newItem = {
                        "name": item.type,
                        "imageSrc": item.image,
                        "tFrom": item.temperatureFrom.value,
                        "tTo": item.temperatureTo.value
                    };
                    return newItem;
                });

                var musctacheWeatherInfo = {
                    "currentWeatherImageUrl": weather.day.dayPart[0].image,
                    "currentTemperature": {
                        "color": weather.day.dayPart[0].temperature.color,
                        "value": weather.day.dayPart[0].temperature.value
                    },
                    "weatherText": weather.day.dayPart[0].weatherType,
                    "nextDayParts": nextDayParts
                }
                var template = $("#weatherInfoTemplate").html();
                var html = Mustache.to_html(template, musctacheWeatherInfo);
                $('.weather-container').html(html);
            }

            $(".city-select").change(function () {
                var cityId = $(this).val();
                var apiUrl = "http://localhost:55075/api/trafficjams/" + cityId;
                $.get(apiUrl, function (data, status) {
                    setCityInfo(data.data);
                    setWeatherInfo(data.data);
                }).fail(function() {
                    alert( "error" );
                });
            });


        });
    </script>
</head>
<body>
    <div class="main-container">
        <div class="header-container">
            <div>
                <img src="/images/logo.png" />
            </div>
            <div>
                <label>Ваша страна</label>
                <select class="form-control country-select">
                    <option></option>
                    <option value="1">Украина</option>
                    <option value="2">Россия</option>
                </select>
                <label>Ваша город</label>
                <select class="form-control city-select"></select>
            </div>
        </div>
        <div class="content-container">
            <div class="city-container">
            </div>
            <div class="weather-container">
            </div>
        </div>
    </div>
</body>
</html>