<!DOCTYPE html>

<html>
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="~/css/index.css">
    <title>title</title>
</head>
<body>
    <div>
Logo
    </div>
    <div>
        <label>Ваша страна</label>
        <select></select>
        <label>Ваша город</label>
        <select></select>
        <div class="city-container">
            <div class="city-content"></div>
        </div>
        <div class="weather-container">
            <div class="weather-content"></div>
        </div>
    </div>
</body>
</html>